.game-cards {
  display: flex;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  background-color: cornflowerblue;
  font-size: 18px;
  padding: 10px;
  flex-direction: column;
}

.game-cards_card {
  flex: 1 1 0%;
  border: none;
  border-radius: 0;
}

.game-cards_card button {
  justify-content: flex-end;
  padding: 4px;
}

.game-cards_card + .game-cards_card {
  border-left: 1px solid #D7DBDD;
}

.game-cards_cardDescription {
  flex: 1 1 auto;
}

span {
  padding: 5px;
}